# Environment variables for service-assignment

# Node environment
NODE_ENV=development

# Service configuration
PORT=3006
SERVICE_NAME=svc-assignment
SERVICE_PORT=3006

# Logging
LOG_LEVEL=info

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/verveai?schema=assignment

# Service discovery (Consul)
CONSUL_HOST=localhost
CONSUL_PORT=8500

# OpenTelemetry
OTEL_SERVICE_NAME=svc-assignment
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
